@using PurpleBuzz_Backend.Areas.Admin.ViewModels
@model RecentWorkIndexViewModel
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Basic Table</h4>
                        <a class="btn btn-main" asp-action="create" asp-controller="recentwork" asp-area="admin">Add Recent Work</a>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Title</th>
                                        <th>Text</th>
                                        <th>FilePath</th>
                                        <th colspan="3" style="text-align:center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        @foreach (var component in Model.RecentWorkComponents)
                                        {
                                            <tr>
                                                <td>@component.Id</td>
                                                <td>@component.Title</td>
                                                <td>@component.Text</td>
                                                <td>@component.FilePath</td>
                                                <td>
                                                    <a asp-action="update" asp-controller="recentwork" asp-area="admin" asp-route-id="@component.Id" class="btn btn-primary">Update</a>
                                                </td>
                                                <td>
                                                    <a asp-action="delete" asp-controller="recentwork" asp-area="admin" asp-route-id="@component.Id" class="btn btn-danger">Delete</a>
                                                </td>
                                                <td>
                                                <a asp-action="details" asp-controller="recentwork" asp-area="admin" asp-route-id="@component.Id" class="btn btn-info">Details</a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © <a href="https://www.bootstrapdash.com/" target="_blank">bootstrapdash.com </a>2021</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Only the best <a href="https://www.bootstrapdash.com/" target="_blank"> Bootstrap dashboard  </a> templates</span>
        </div>
    </footer>
    <!-- partial -->
</div>